<div *ngIf="!(productSubject | async)">
  <mat-card fxFlex.gt-sm="60%" fxFlexOffset.gt-sm="20%">
    <mat-card-title>Add Product</mat-card-title>
    <form (ngSubmit)="onAddSubmit(addProductForm.value)" fxLayout="column" #addProductForm="ngForm">
      <mat-form-field>
        <mat-placeholder>Name</mat-placeholder>
        <input type="text" matInput name="name" id="name" ngModel>
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Category</mat-placeholder>
        <select matNativeControl name="category" ngModel>
          <option value="Chairs">Chairs</option>
          <option value="Beds">Beds</option>
          <option value="Accessories">Accessories</option>
          <option value="Furniture">Furniture</option>
          <option value="HomeDeco">HomeDeco</option>
          <option value="Dressings">Dressings</option>
          <option value="Tables">Tables</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Brand</mat-placeholder>
        <input type="text" matInput name="brand" ngModel>
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Price</mat-placeholder>
        <input type="number" matInput name="price" ngModel>
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Stock</mat-placeholder>
        <input type="number" matInput name="stock" ngModel>
      </mat-form-field>
      <label>Discount</label>
      <mat-slider name="discount" min="0" max="1" step="0.1" thumbLabel tickInterval="0.1" ngModel></mat-slider>
      <mat-form-field>
        <mat-placeholder>Description</mat-placeholder>
        <input type="text" matInput name="description" ngModel>
      </mat-form-field>
      <label>Color</label>
      <div id="check">
        <input type="checkbox" name="White" ngModel >
        <span class="wh"><mat-icon>lens</mat-icon></span>
        <input type="checkbox" name="Grey" ngModel >
        <span class="gr"><mat-icon>lens</mat-icon></span>
        <input type="checkbox" name="Black" ngModel >
        <span class="bla"><mat-icon>lens</mat-icon></span>
        <input type="checkbox" name="Blue" ngModel >
        <span class="blu"><mat-icon>lens</mat-icon></span>
        <input type="checkbox" name="Red" ngModel >
        <span class="r"><mat-icon>lens</mat-icon></span>
        <input type="checkbox" name="Yellow" ngModel >
        <span class="y"><mat-icon>lens</mat-icon></span>
        <input type="checkbox" name="Orange" ngModel >
        <span class="o"><mat-icon>lens</mat-icon></span>
        <input type="checkbox" name="Brown" ngModel >
        <span class="br"><mat-icon>lens</mat-icon></span>
      </div>
      <mat-form-field>
        <mat-placeholder>Image</mat-placeholder>
        <input type="text" matInput name="image" ngModel>
      </mat-form-field>
      <div>
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-card>
</div>
<div *ngIf="productSubject | async">
  <mat-card fxFlex.gt-sm="60%" fxFlexOffset.gt-sm="20%">
    <mat-card-title>Add Product Success</mat-card-title>
    Your product ID is {{product.id}}
  </mat-card>
</div>
