.product-detail-image {
  width: 400px;
  min-width: 400px;
  height: 400px;
  min-height: 400px;
}

.product-detail-title h1 {
  font-family: "Google Sans",sans-serif;
  font-size: 1.57em;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 1.72em;
}

.product-detail-info-container {
  border-left: 1px solid #eee;
}

.product-detail-container {
  margin-top: 30px;
}

.product-detail-info-price {
  font-size: 2em;
  font-weight: 500;
  font-family: "Google Sans",sans-serif;
  color: rgba(0,0,0,0.87);
}
.product-detail-info-cart-button-container {
  margin-top: 20px;
}
.starcolor{
  color: orange;
}
.wh{
  color: snow;
}
.gr {
  color: gray;
}
.bla{
  color:black;
}
.blu{
  color: blue;
}
.r{
  color:red;
}
.y{
  color: yellow;
}
.o{
  color:orange;
}
.br{
  color: brown;
}
h3{
  color: rgb(191,167,122);
}
.images{
  width:390px;
  height:390px;
  background-size: cover;
}
.products-list-section {
  flex: 0 1 70%;
  margin: 20px;

  .products-list-container {
    display: flex;
    flex-wrap: wrap;

    .products-list-item {
      margin-bottom: 20px;
      text-decoration: none;
      color: inherit;
    }
  }
}
.star{
  color: red;
}
