<app-ngbd-carousel-config></app-ngbd-carousel-config>
<h3>Our Products On Video</h3>
<hr>
<app-video></app-video>
<h3>Shop By Category</h3>
<hr>
<app-slider>
  <div appSliderItem>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="chair-header-image"></div>
        <mat-card-title>Chair</mat-card-title>
        <mat-card-subtitle>provides soft and hard chairs</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://secure.img1-fg.wfcdn.com/im/65831113/resize-h800-w800%5Ecompr-r85/5577/55775924/Bouck+Wingback+Chair.jpg" width="300px" height="300px">
      <mat-card-content>
        <p>
          Perfect for curling up with a book or just laying out clothes for the next day, this wingback chair
          is a versatile addition to your teen’s space. Founded atop tapered wooden legs in a black finish,
          this piece is crafted with a solid and manufactured wood frame.dhkashdkjsahdkjahskjs
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['/products', chair]">Click Me</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div appSliderItem>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="bed-header-image"></div>
        <mat-card-title>Bed</mat-card-title>
        <mat-card-subtitle>Our company provide soft and hard bed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://cdn.shopify.com/s/files/1/2660/5202/products/hjnlgkoig1gnbl964gc9_3aabdd01-9faa-48f5-a3d4-b339799370bc_800x.jpg?v=1536593845" width="300px" height="300px">
      <mat-card-content>
        <p>
          Our Layton quilt cover set offers a classic look with a modern textural feel. Featuring a luxurious geometric weave, crafted in 100% cotton. Layton is
          perfect for a simple bedroom update whilst remaining versatile in its design for plenty of styling options.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['/products', bed]">Click Me</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div appSliderItem>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="accessory-header-image"></div>
        <mat-card-title>Accessory</mat-card-title>
        <mat-card-subtitle>Our company provide good accessory</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://o.aolcdn.com/images/dims?resize=620%2C500&crop=620%2C500&image_uri=https%3A%2F%2Fs.blogcdn.com%2Fslideshows%2Fimages%2Fslides%2F740%2F971%2F6%2FS7409716%2Fslug%2Fs%2Fd08e74e95b11d1f027d2a0832a93648f53bcc378-main-hero-image-1.jpg&client=amp-blogside-v2&signature=314dba899cf15f96c6502e8c50690aa7afe29a2a" width="300px" height="300px">
      <mat-card-content>
        <p>
          The Purr-Fect Watch is even moisture- and dust-resistant so you don't have to worry about life's not-so-perfect moments ruining your new watch.
          Marked down 75% off of its original price, this amazing watch is only $14.99. Pick one up for yourself and a few for your cat-loving friends, too.
          djsakhdkjashdkahsl
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['/products', accessory]">Click Me</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div appSliderItem>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="furniture-header-image"></div>
        <mat-card-title>Furniture</mat-card-title>
        <mat-card-subtitle>Our company provide great furniture</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://cb2.scene7.com/is/image/CB2/122918_cat_furniture_second?wid=1680&qlt=65" width="300px" height="300px">
      <mat-card-content>
        <p>
          For the modern home. Bring fashion and function into every room with unique furniture from CB2.
          Our furniture designs feature high-quality materials and a meticulous attention to detail,
          all at an affordable price-point.sndakjdjkasjdlkasjdlkjaslkdjsal
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['/products', furniture]">Click Me</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div appSliderItem>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="homedeco-header-image"></div>
        <mat-card-title>HomeDeco</mat-card-title>
        <mat-card-subtitle>Our company provide great Homedeco</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://cdn.shopify.com/s/files/1/2679/4394/products/product-image-531981645_1200x1200.jpg?v=1517088129" width="300px" height="300px">
      <mat-card-content>
        <p>The Purr-Fect Watch is even moisture- and dust-resistant so you don't have to worry about life's not-so-perfect moments ruining your new watch.
          Marked down 75% off of its original price, this amazing watch is only $14.99. Pick one up for yourself and a few for your cat-loving friends, too.
          djsakhdkjashdkahsl</p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['/products', homedeco]">Click Me</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div appSliderItem>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="dressing-header-image"></div>
        <mat-card-title>Dressing</mat-card-title>
        <mat-card-subtitle>Our company provide great dressing</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://www.rosacuisine.com/wp-content/uploads/2018/03/ratio_16_9.jpg" width="300px" height="300px">
      <mat-card-content>
        <p>
          A custom dressing makes you dream? Are you tired of wasting time each morning looking for what you
          are going to put on? Rosa Cuisine meets your needs by creating for you the tailor-made wardrobe that
          adapts to your dress habits.
          Depending on the size of your
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['/products', dressing]">Click Me</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div appSliderItem>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="table-header-image"></div>
        <mat-card-title>Table</mat-card-title>
        <mat-card-subtitle>Our company provide great Table</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://jjhwatkins.com/wp-content/uploads/2019/02/dining-table-and-chairs-designs-online-at-best-prices-with-regard-to-design-remodel-0.jpg" width="300px" height="300px">
      <mat-card-content>
        <p>
          From stock rustik wood metal dining table cross frame leg in design decor.
          Dining table design at rs onwards wooden id with regard to ideas. Dining table with emperador
          marble top and walnut base tables throughout design designs. Glass top dining tables with wood base
          ideas on foter table design prepare.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['/products', table]">Click Me</button>
      </mat-card-actions>
    </mat-card>
  </div>
</app-slider>
<h3>On Sale will be ended in <countdown [config]="{leftTime: 1000 * 10}" class="time">$!h!:$!m!:$!s-ext!</countdown></h3>
<hr>
<section class="products-list-section">
  <div class="products-list-container">
    <a *ngFor="let product of sales" >
      <mat-card class="products-list-item" >
        <mat-card-header>
          <div mat-card-avatar class="sale">{{100 - product.discount * 100}}% Off</div>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>This product used to be {{product.price}},now on sale(<b>${{product.discount * product.price}}</b>)</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{product.image}}" class="images">
        <mat-card-content>
          <p>
            {{product.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" [routerLink]="['/products/product-detail', product.id]">See Detail</button>
        </mat-card-actions>
      </mat-card>
    </a>
  </div>
</section>

<h3>More Than Four Stars</h3>
<hr>

<section class="products-list-section">
  <div class="products-list-container">
    <a *ngFor="let product of topstars" >
      <mat-card class="products-list-item" >
        <mat-card-header>
          <div mat-card-avatar class="stars"><mat-icon>pets</mat-icon></div>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>This product get <b>{{product.star | number : '1.2-2'}}</b> rates feedbacks from users</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{product.image}}" class="images">
        <mat-card-content>
          <p>
            {{product.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" [routerLink]="['/products/product-detail', product.id]">See Detail</button>
        </mat-card-actions>
      </mat-card>
    </a>
  </div>
</section>



